<form (ngSubmit)="onSubmit(zooForm)" #zooForm="ngForm">
  <label for="animal">Cat, Mouse, or Bunny? </label>
  <input type="text" id="animal" name="animal" placeholder="Enter animal..." [(ngModel)]="animal">

  <label for="count">How many? (pick a number 1-99) </label>
  <input type="number" id="count" name="count" placeholder="Enter count..." [(ngModel)]="count">

  <section class="centered">
    <button type="submit" (click)="onSubmit(zooForm)" mat-raised-button color="primary">Submit Form</button>
  </section>

  <section class="centered" *ngIf="submitted">
    <h1>{{ out1 }} <br> {{out2}} <br> {{out3}} <br> {{out4}} <br> <br>
      I would print {{count | numText}} for you if I could, but that posed unexpected challenges.
    </h1>
  </section>
</form>
